Block 1

In [ ]:
#importing the relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests

Block 2

In [ ]:
webdata = pd.read_html('https://crudata.uea.ac.uk/cru/data/temperature/')

webdata = webdata[1]
webdata

                                              Dataset  ... CEDA or Met OfficeFor more data files including uncertainties
0                                   HadCRUT5 Analysis  ...   Met Office: HadCRUT5CEDA (not updated): HadCRUT5
1   Combined land [CRUTEM5] and marine [HadSST4] t...  ...   Met Office: HadCRUT5CEDA (not updated): HadCRUT5
2                               HadCRUT5 Non-Infilled  ...   Met Office: HadCRUT5CEDA (not updated): HadCRUT5
3   Combined land [CRUTEM5] and marine [HadSST4] t...  ...   Met Office: HadCRUT5CEDA (not updated): HadCRUT5
4                                             CRUTEM5  ...     Met Office: CRUTEM5CEDA (not updated): CRUTEM5
5   Land air temperature anomalies on a 5° by 5° g...  ...     Met Office: CRUTEM5CEDA (not updated): CRUTEM5
6                                          CRUTEM5alt  ...                                Met Office: CRUTEM5
7   Land air temperature anomalies on a 5° by 5° g...  ...                                Met Office: CRUTEM5
8                                             HadSST4  ...                                Met Office: HadSST4
9   Sea surface temperature anomalies on a 5° by 5...  ...                                Met Office: HadSST4
10                             Absolute1961-1990 mean  ...                                     Not applicable
11  Absolute temperatures for the base period 1961...  ...                                     Not applicable

[12 rows x 6 columns]