### **Block 1**

In [1]:
#importing the relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## **Block 2**

In [ ]:
#2a. load the data
print('------------ 2a ------------')
data = pd.read_excel('messed_up_iris.xlsx',index_col=0)
print('data has been loaded')
print('\n')

#2b. check for no extra index columns using data.head()
print('------------ 2b ------------')
print(data.head())
print('\n')

#2c. Show the shape of the data
print('------------ 2c ------------')
data.shape

------------ 2a ------------
data has been loaded


------------ 2b ------------
   sepal_length  sepal_width  petal_length  petal_width species   color  origin
0           5.1          3.5           1.4          0.2  setosa   green     usa
1           4.9          3.0           1.4          0.2  setosa  yellow     usa
2           4.7          3.2           1.3          0.2  setosa   green     usa
3           4.6          3.1           1.5          0.2  setosa  orange   japan
4           5.0          3.6           1.4          0.2  setosa    blue  europe


------------ 2c ------------

(150, 7)

## **Block 3**

In [ ]:
#3a. Remove columns and rows where there are more than 50% of the data missing
print('------------ 3a ------------')
no_colors = data.drop(['color'], axis=1)
print(no_colors)
print('\n')

data2 = no_colors.dropna(thresh = (len(data.columns) * 0.5))
data3 = data2.dropna(thresh = (len(data2.index) * 0.5),axis=1)
print('columns/rows with more than 50% missing data have been removed')
print('\n')
print(data3)
print('\n')

#3b. Show the shape of the data after you have removed those columns/rows
print('------------ 3b ------------')
print(data3.shape)

------------ 3a ------------
     sepal_length  sepal_width  petal_length  petal_width    species  origin
0             5.1          3.5           1.4          0.2     setosa     usa
1             4.9          3.0           1.4          0.2     setosa     usa
2             4.7          3.2           1.3          0.2     setosa     usa
3             4.6          3.1           1.5          0.2     setosa   japan
4             5.0          3.6           1.4          0.2     setosa  europe
..            ...          ...           ...          ...        ...     ...
145           6.7          3.0           5.2          2.3  virginica  europe
146           6.3          2.5           5.0          1.9  virginica   japan
147           6.5          3.0           5.2          2.0  virginica   japan
148           NaN          3.4           5.4          2.3  virginica   japan
149           5.9          3.0           5.1          1.8  virginica     usa

[150 rows x 6 columns]


columns/rows with more than 50% missing data have been removed


     sepal_length  sepal_width  petal_length  petal_width    species  origin
0             5.1          3.5           1.4          0.2     setosa     usa
1             4.9          3.0           1.4          0.2     setosa     usa
2             4.7          3.2           1.3          0.2     setosa     usa
3             4.6          3.1           1.5          0.2     setosa   japan
4             5.0          3.6           1.4          0.2     setosa  europe
..            ...          ...           ...          ...        ...     ...
145           6.7          3.0           5.2          2.3  virginica  europe
146           6.3          2.5           5.0          1.9  virginica   japan
147           6.5          3.0           5.2          2.0  virginica   japan
148           NaN          3.4           5.4          2.3  virginica   japan
149           5.9          3.0           5.1          1.8  virginica     usa

[145 rows x 6 columns]


------------ 3b ------------
(145, 6)

## **Block 4**

In [ ]:
#4a. Remove duplicate data, if there is any. 
print('------------ 4a ------------')
print(data3.duplicated())
print("\n")

print('Are there any dupes?')
print(any(data3.duplicated()))
print("\n")

print(data3[data.duplicated(keep=False)])
print("\n")

data_nodupes = data3.drop_duplicates(ignore_index=True)

print('Are there any dupes?')
print(any(data_nodupes.duplicated()))
print("\n")

#4b. Show the shape of the data
print('------------ 4b ------------')
print(data_nodupes.shape)

------------ 4a ------------
0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 145, dtype: bool


Are there any dupes?
True


    sepal_length  sepal_width  petal_length  petal_width species  origin
21           5.1          3.7           1.5          0.4  setosa  europe
34           5.1          3.7           1.5          0.4  setosa  europe
37           4.9          3.6           1.4          0.1  setosa   japan
42           5.1          3.7           1.5          0.4  setosa  europe
59           4.9          3.6           1.4          0.1  setosa   japan
87           4.9          3.6           1.4          0.1  setosa   japan


Are there any dupes?
False


------------ 4b ------------
(140, 6)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # Remove the CWD from sys.path while we load stuff.

## **Block 5**

In [ ]:
#5a. Dummy code the categorical data. 
print('------------ 5a ------------')
#start by correcting the mispellings
data_nodupes['species'] = np.where(data_nodupes['species']=='versicolr','versicolor',data_nodupes['species'])
data_nodupes['species'] = np.where(data_nodupes['species']=='virginia','virginica',data_nodupes['species'])
data_nodupes['species'] = np.where(data_nodupes['species']=='west virginia','virginica',data_nodupes['species'])
data_nodupes['species'] = np.where(data_nodupes['species']=='seotsa','setosa',data_nodupes['species'])
data_nodupes['origin'] = np.where(data_nodupes['origin']=='euarope','europe',data_nodupes['origin'])
data_nodupes['origin'] = np.where(data_nodupes['origin']=='uas','usa',data_nodupes['origin'])


print("species_df:")
species_df = pd.get_dummies(data_nodupes['species'],drop_first=1)
print(species_df)
print("\n")

print("origin_df:")
origin_df = pd.get_dummies(data_nodupes['origin'],drop_first=1)
print(origin_df)
print("\n")

#5b. Show the head of the data
print('------------ 5b ------------')
print(species_df.head())
print("\n")
print(origin_df.head())

------------ 5a ------------
species_df:
     versicolor  virginica
0             0          0
1             0          0
2             0          0
3             0          0
4             0          0
..          ...        ...
135           0          1
136           0          1
137           0          1
138           0          1
139           0          1

[140 rows x 2 columns]


origin_df:
     japan  usa
0        0    1
1        0    1
2        0    1
3        1    0
4        0    0
..     ...  ...
135      0    0
136      1    0
137      1    0
138      1    0
139      0    1

[140 rows x 2 columns]


------------ 5b ------------
   versicolor  virginica
0           0          0
1           0          0
2           0          0
3           0          0
4           0          0


   japan  usa
0      0    1
1      0    1
2      0    1
3      1    0
4      0    0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

## **Block 6**

In [ ]:
#6a. Drop the redundant columns from the dataframe so that you are left with just the dummy coded columns. 
print('------------ 6a ------------')
print('redundant columns have been dropped')
data_nodupes = pd.concat([data_nodupes.drop('species', axis=1), species_df], axis=1)
data_nodupes = pd.concat([data_nodupes.drop('origin', axis=1), origin_df], axis=1)
print('\n')

#6b. Show the head of the data
print('------------ 6b ------------')
data_nodupes.head()

------------ 6a ------------
redundant columns have been dropped


------------ 6b ------------

   sepal_length  sepal_width  petal_length  ...  virginica  japan  usa
0           5.1          3.5           1.4  ...          0      0    1
1           4.9          3.0           1.4  ...          0      0    1
2           4.7          3.2           1.3  ...          0      0    1
3           4.6          3.1           1.5  ...          0      1    0
4           5.0          3.6           1.4  ...          0      0    0

[5 rows x 8 columns]

## **Block 7**

In [ ]:
#7a. Remove outliers above 2 standard deviations.
print('------------ 7a ------------')
print('outliers removed')
def remove_outliers(ser):

  Q1 = ser.quantile(.25)
  Q3 = ser.quantile(.75)
  IQR = Q3-Q1

  return np.where((ser > (Q3+(IQR*1.5))) | (ser < (Q1-(IQR*1.5))),np.nan,ser)

for column in data_nodupes.columns:
  if isinstance(data_nodupes[column][0],float)==1:
    data_nodupes[column] = remove_outliers(data_nodupes[column])

------------ 7a ------------
outliers removed

## **Block 8**

In [ ]:
#8a. For the remaining missing data, replace with the median value.
print('------------ 8a ------------')
data4 = data_nodupes.fillna(data.median())
final_data = pd.concat([data4], axis=1)
final_data.head()

------------ 8a ------------

   sepal_length  sepal_width  petal_length  ...  virginica  japan  usa
0           5.1          3.5           1.4  ...          0      0    1
1           4.9          3.0           1.4  ...          0      0    1
2           4.7          3.2           1.3  ...          0      0    1
3           4.6          3.1           1.5  ...          0      1    0
4           5.0          3.6           1.4  ...          0      0    0

[5 rows x 8 columns]

## **Block 9 - EC**

## **Block 10**

In [ ]:
#10a. Show (i.e., print) that there are no missing data
print('------------ 10a ------------')
print(final_data.info())
print('\n')

#10b. use the describe method to show off the final dataset
print('------------ 10b ------------')
print(final_data.describe())
#print(final_data.shape)
#print(final_data)

------------ 10a ------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  140 non-null    float64
 1   sepal_width   140 non-null    float64
 2   petal_length  140 non-null    float64
 3   petal_width   140 non-null    float64
 4   versicolor    140 non-null    uint8
 5   virginica     140 non-null    uint8
 6   japan         140 non-null    uint8
 7   usa           140 non-null    uint8
dtypes: float64(4), uint8(4)
memory usage: 5.0 KB
None


------------ 10b ------------
       sepal_length  sepal_width  ...       japan         usa
count    140.000000   140.000000  ...  140.000000  140.000000
mean       5.872143     3.047857  ...    0.300000    0.364286
std        0.791508     0.416126  ...    0.459903    0.482957
min        4.300000     2.000000  ...    0.000000    0.000000
25%        5.200000     2.800000  ...    0.000000    0.000000
50%        5.800000     3.000000  ...    0.000000    0.000000
75%        6.400000     3.300000  ...    1.000000    1.000000
max        7.900000     4.200000  ...    1.000000    1.000000

[8 rows x 8 columns]